:root {
  font-size: 18px;
}

header {
  font-size: 1.5rem;
}

ul {
  list-style-type: square;
}

code.block {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
